  .border {
    background-color: rgb(255, 0, 0);
    padding: 60px 60px 0 60px;
    display: inline-block;
    box-shadow: 18px 12px rgb(255 100 117), 20px 15px 20px rgb(122 118 121);
    border-radius: 50px;
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  h1 {
    text-align: center;
    margin: 0;
    color:#fff;
    display: flex;
    align-self: center;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 1.75rem;
    font-size: 1.25rem;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 15px 10px 2px rgb(0 0 0 / 29%);
    border-top: solid 1px rgba(255, 255, 255, 0.3);
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    border-bottom: solid 8px lightgrey;
    border-right: solid 8px lightgrey;
  }
  .btn-active {
    background-color: #cecece;
    border-color: #bbbbbb;
  }

  .subtitle {
    color: #fff;
    text-align: center;
    font-size: 18px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    margin:5px;    
    width: 500px;
    min-height: 500px;
    border-radius: 0.5rem;
    outline: 5px solid rgba(255, 100, 117,0.9);
  }

  .square {
    background-color: #959595;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  /* .bg-dark-grey {
    background-color: rgb(63, 63, 63);
  } */

  /* .bg-random {
    background-color: rgb(0,0,0);
  } */